[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
jieba = "*"
"flake8" = "*"
nltk = "*"
purewords = {editable = true, git = "git@github.com:Yoctol/purewords.git"}

[dev-packages]
tqdm = "*"
ipdb = "*"

[requires]
python_version = "3.5"
