[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]

jieba = "*"
nltk = "*"
purewords = "*"

[dev-packages]

tqdm = "*"
ipdb = "*"
"flake8" = "*"

[requires]

python_version = "3.5"
